[MESSAGES CONTROL]
disable=
    C,
    R,
    redefined-outer-name,
    fixme,
    broad-exception-raised,
    logging-fstring-interpolation,
    import-error,
    redefined-builtin


[FORMAT]
max-line-length=120