# Git & CI
.git
.github
.gitignore
.jj
.golangci.toml
.goreleaser.yml
manage.sh

# OS & Editor
.DS_Store
.vscode/
.idea/
*.swp
*.bak
*.log
.env
.env.*

# Go Build Artifacts
hister
hister.exe
pkg/
bin/
vendor/
coverage/

# Local Data & Configs
*.db
*.db-journal
*.db-shm
*.db-wal
config.yml
rules.json
.secret_key
data/

# Documentation & Assets
docs/
README.md
LICENSE
Dockerfile*
compose.yml
docker-bake.hcl

# Build Artifacts
webui/app/build/
webui/website/build/
webui/**/.svelte-kit/
webui/**/dist/
webui/ext/
webui/website/

# Browser Extension & Nix
ext/
node_modules/
flake.nix
flake.lock
nix/
